html {
  height: 100%;
  width: 100%;
}
p{
  color: blue;
  font-size: 20px;
}
  ul {
color: blue;
  }
#text-1{
  color:maroon; font-size: 12px;text-decoration:underline;
  margin-top:20px;
  font-family: serif;
}


.Paragraf-1 {
  color:green;
  font-size: 12px;
  margin-top:10px ;
  font-family:cursive ;
}