#header{
    border: 1px solid blue;
    margin:auto auto 3px auto;
    width :100%;
    height :100px;
    text-align : center ;
    font-size :30px;
    background-color: color-mix blueviolet;
}
#navbar{
    border: 1px solid blue;
    margin:auto auto 3px auto;
    width :100%;
    height :100px;
    text-align : center ;
    font-size :30px;
    background-color: chocolate;
}
#content{
    border: 1px brown;
    margin:auto auto 3px auto;
    width :100%;
    text-align : center ;
    font-size :30px;
}
#left-content{
    width :20%;
    float:left ;
    height: 400px;
    background-color: blueviolet;   
}
#main-content{
    width :60%;
    float:left ;
    text-align : center ;
    height: 400px;
    background-color: chocolate;
}
#right-content{
    width :20%;
    float:left ;
    height: 400px;
    background-color: gray; 
}
#footer {
border: 1px solid pink;
width: 100%;
height: 65px;
background-color:orange;
text-align: center;
font-size: 30px;
}