html {
  height: 100%;
  width: 100%;
}
.text-name{
  color:hotpink ;
  font-family:Verdana ;
}
.text-category{
color:darkgreen ;
  font-family: Georgia;
}
.item-category{
  color: violet;
  font-family:monospace ;
}
